* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.root-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: #aaa;
    grid-column: 2;
    grid-row: 1;
}

.sidebar {
    background-color: #bbb;
    grid-column: 1;
    grid-row: 1 / -1;
}

.main-content {
    background-color: #ccc;
    grid-column: 2;
    grid-row: 2;
}